@model IEnumerable<ShepherdAid.Models.SacramentRequirement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title = "Requirement";
    if(Model.Count()>1)
    {
        title = "Requirements";
    }

    title = string.Format("{0} FOR THE SACRAMENT OF {1}", title, ViewBag.Sacrament);
}


<div class="mybreadcrumb">
    @Html.ActionLink("Sacraments List", "Index", "Sacraments") >>
    Sacrament Requirements
</div>

<fieldset>
    <legend>@title</legend>
    <div class="row">
        <div class="col-md-5 col-xs-12">

            <div class="search-area">
                <div class=" col-md-11 col-xs-11">
                    @*@using (Html.BeginForm())
                    {
                        <div class="input-group">
                            <input type="text" class="form-control search-field" placeholder="Search" id="search" name="search" />
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>

                            </div>
                        </div>
                        @*</form>
                    }*@
                </div>
                <div class="col-md-1 col-xs-1 new-record">
                    <a href="~/SacramentRequirements/Create" title="Create New"><span class="glyphicon glyphicon-plus"></span></a>
                </div>
            </div>

            @if (Model != null && Model.Count() > 0)
            {
                <table class="table table-bordered table-striped table-responsive">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Sacrament1.Name)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sacrament1.Name)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash", @title = "Delete" })
                            </td>
                        </tr>
                    }

                </table>
            }
        </div>
    </div>
</fieldset>
