@model IEnumerable<ShepherdAid.Models.OrganizationMember>


<div class="row">
    <div class="col-md-10 partial-background">

        <p class="text-right">
            <a href="~/OrganizationMembers/Members" title="Create New"><span class="glyphicon glyphicon-plus"></span></a>
        </p>
        @if (Model != null && Model.Count() > 0)
        {

            <table class="table table-responsive table-striped table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Member.MemberID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Member.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Member.MiddleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Member.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Member.GenderType.TypeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MembershipDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StatusType.StatusName)
                    </th>
                    <th class="nowrap"></th>
                </tr>

                @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.MemberID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Member.MiddleName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Member.LastName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Member.GenderType.TypeName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MembershipDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusType.StatusName)
                </td>
                <td class="nowrap">                    
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit", @title = "Edit" })||
                    @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash", @title = "Delete" })
                </td>
            </tr>
            }

            </table>
        }
        else
        {
            <span class="no-record">THERE IS NO MEMBER IN THIS ORGANIZATION</span>
        }
    </div>
</div>