@model IEnumerable<ShepherdAid.Models.Institution>

@{
    ViewBag.Title = "Institutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mybreadcrumb">
    List of Institution
</div>

<fieldset>
    <legend>INSTITUTIONS OF @Model.FirstOrDefault().InstitutionName</legend>

    <div class="col-md-6 col-xs-12">

        <div class="row myinputarea">
            <div class="col-md-6 col-xs-12">

                <div class="search-area">
                    <div class=" col-md-11 col-xs-11">
                        @using (Html.BeginForm())
                        {
                            <div class="input-group">
                                @Html.DropDownList("ClientID", null, "--select--", htmlAttributes: new { @class = "search-form-control" })
                                @Html.DropDownList("InstitutionGroupID", null, "--select--", htmlAttributes: new { @class = "search-form-control" })
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>

                                </div>
                            </div>
                            @*</form>*@
                        }
                    </div>
                    <div class="col-md-1 col-xs-1 new-record">
                        <a href="../AspNetGroups/Create" title="New Group"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>


                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.InstitutionGroup.Client.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InstitutionGroup.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InstitutionName)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.InstitutionGroup.Client.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InstitutionGroup.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InstitutionName)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Index", new { id = item.ID }, new { @class = "glyphicon glyphicon-circle-arrow-right" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</fieldset>